@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');



.recherche {
    background-color: rosybrown;
    height: 30px;
    padding: 0%;
    margin: -8px;
}
.recherche ul {
    list-style: none;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rosybrown;
    height: 50px;
    padding: 0%;
    margin: -8px;
}

.BloomPetals h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Parisienne', cursive;
    margin-top: 55px;
}

.engagement {
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 1px 5px 5px 5px;
    
}

.equipe  img {
    width: 30%;
    border-radius: 10px;
}

.equipe {
    margin: 10px;
}

footer {
    background-color: rosybrown;
    height: 30px;
    padding: 0%;
    margin: -8px;
}

footer p {
    color: rosybrown;
}